@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: "Inter", sans-serif;
}

table, tr, td{
    border: 3px solid black;
    text-align: center;
}